<!-- 
         Velocity smoother for Teleop
-->
<launch>
  <arg name="base_name"/>

  <node pkg="nodelet" type="nodelet" name="$(arg base_name)_follow_me_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet $(arg base_name)_nodelet_manager">
    <rosparam file="$(find follow_me)/config/smoother.yaml" command="load"/>
    <remap from="$(arg base_name)_follow_me_velocity_smoother/smooth_cmd_vel" to="$(arg base_name)_cmd_vel_mux/input/navi"/>

    <!-- Robot velocity feedbacks; use the one configured as base default -->
    <remap from="$(arg base_name)_follow_me_velocity_smoother/odometry" to="$(arg base_name)/odom"/>
    <remap from="$(arg base_name)_follow_me_velocity_smoother/robot_cmd_vel" to="$(arg base_name)/commands/velocity"/>
  </node>
</launch>
